*,
*:after,
*:before{
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-srolling: touch;
}
.container{
  margin: 0 auto;
}
.header h1{
  font-family: "Debby";
  font-size: 72px;
  font-weight: normal;
  color: #ffffff;
  margin-top: 10px;
  margin-left: 50px;
}
a.nav-link{
  font-family: "AA Bebas Neue";
  font-weight: normal;
}
.collapse .navbar-collapse{
  display: flex;
  justify-content: center;
}
.header ul{
  display: flex;
  justify-content: space-around;
  width: 80%;
  font-size: 40px;
  margin-top: -7px;
}
.header li a{
  color: #fff;
  margin-left: 25px;
}
/*
#Home{
  margin-left: 158px;
  color: #ffffff;
  font-size: 40px;
}
#News{
  margin-left: 50px;*
  color: #ffffff;
  font-size: 40px;
}
#Support{
  margin-left: 50px;
  color: #ffffff;
  font-size: 40px;
}
#Sign_Up{
  margin-left: 150px;
  color: #ffffff;
  font-size: 40px;
}*/
#Login{
  background: #326363;
  width: 145px;
  height: 75px;
  border: 3px solid #ffffff;
  padding-left: 35px;
  /*margin-left: 50px;*/
  color: #ffffff;
  font-size: 40px;
}
.container{
  margin: 0 auto;
}
.photo2 img{
  margin-left: 0px;
  background-repeat: no-repeat;
  position: absolute;
  left: 240px;
  top: 150px;
  width: 317px;
  height: 254px;
}
.photo1 img{
  margin-top: 50px;
  background-repeat: no-repeat;
  left: 20px;
  top: 136px;
  width: 353px;
  height: 264px;
}
.form{
  float: right;
  margin-right: 180px;
  margin-top: -260px;
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 500px;
  background: #737373;
}
.form h2{
  margin-top: 40px;
  text-align: center;
  color: #ffffff;
  font-family: "AA Bebas Neue";
  font-size: 48px;
  font-weight: normal;
}
.form input{
  border: none;
  margin: 0 auto;
  background: transparent;
  width: 289px;
  height: 50px;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.form input::placeholder{
  color: #fff;
}
.Sign{
  width: 140px;
  height: 70px;
  background: #326363;
  color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border: 4px solid #fff;
  font-size: 25px;
  padding-top: 10px;
  text-decoration: none;

}
.preloader {
  --bg-color: #1e212a;
  --size: 200px;
  --first-color: #ec164f;
  --second-color: #ffc952;
  --third-color: #47b8e0;
  --thickness: 3px;
  --duration: 1s;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--duration);
  z-index: 1;
}

.preloader_content {
  position: relative;
  width: var(--size);
  height: var(--size);
}

.preloader_first,
.preloader_second,
.preloader_third {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: var(--duration) linear infinite;
}

.preloader_first {
  border-bottom: var(--thickness) solid var(--first-color);
  animation-name: first;
}

.preloader_second {
  border-right: var(--thickness) solid var(--second-color);
  animation-name: second;
}

.preloader_third {
  border-top: var(--thickness) solid var(--third-color);
  animation-name: third;
}

@keyframes first {
  0% { transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg); }
  100% { transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg); }
}

@keyframes second {
  0% { transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg); }
  100% { transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg); }
}

@keyframes third {
  0% { transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg); }
  100% { transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg); }
}
